<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RACTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A19079421E1A2CAF006059F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A190795B1E1A2CB0006059F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19079661E1A2CB0006059F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
